<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <meta name="viewport" content="width=device-width">
    {% stylesheet application %}
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/assets/ie8.css">
        <script src="/assets/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->
    {% javascript application %}
</head>
<body>
    <header>
        <nav class="navbar navbar-default grove-navbar" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="grove-toggle" data-toggle="collapse" data-target=".grove-nav">   <i class="glyphicons show_lines"></i>  </a>
                    <a href="{{ site.url }}" class="navbar-brand"><img src="/images/assets/qnnsafe-logo.png" alt="全能保险柜" width="236" height="45"></a>
                </div>

                <div class="collapse navbar-collapse grove-nav">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ site.url }}"><b>首页</b></a></li>
                        <li class="dropdown hover-dropdown"><a href="{{ site.url }}/about/"><b>全能简介</b></a></li>
                        <li class="dropdown hover-dropdown"><a href="{{ site.url }}/products/"><b>产品中心</b></a></li>
                        <li class="dropdown hover-dropdown"><a href="{{ site.url }}/stores/"><b>专卖店风采</b></a></li>
                        <li class="dropdown hover-dropdown"><a href="{{ site.url }}/factory/"><b>总部工厂实景</b></a></li>
                        <li class="dropdown hover-dropdown"><a href="{{ site.url }}/contact/"><b>联系我们</b></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {{ content }}
    <footer class="widewrapper footer">
        <div class="container">
            <div class="row footer">
                <div class="col-sm-3">
                    <div class="indent30">
                    <h4><b>全能简介</b></h4>
                    <ul class="grove-list">
                        <li><b>广东安能保险柜制造有限公司是一家以从事保险柜（箱）等安防产品为主的集研发、生产及销售为一体的国际性保险柜企业，QNN Safe在美国和中国设立两大运营中心，全球员工近千人，研发中心与合作企业（机构）分布中国广州、深圳、宁波及美国洛杉矶。</b></li>
                    </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="indent30">
                    <h4><b>产品系列</b></h4>
                    <ul class="grove-list">
                        <li><a href="{{ site.url }}/products/"><b>金库</b></a></li>
                        <li><a href="{{ site.url }}/products/"><b>风生水起</b></a></li>
                        <li><a href="{{ site.url }}/products/"><b>可拉珍藏</b></a></li>
                        <li><a href="{{ site.url }}/products/"><b>金库</b></a></li>
                        <li><a href="{{ site.url }}/products/"><b>钢铁侠</b></a></li>
                        <li><a href="{{ site.url }}/products/"><b>高尔夫</b></a></li>
                    </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="indent30">
                    <h4><b>产品分类</b></h4>
                    <ul class="grove-list">
                        <li><a href="{{ site.url }}/products/"><b>指点江山</b></a></li>
                        <li><a href="{{ site.url }}/products/"><b>新皇冠</b></a></li>
                        <li><a href="{{ site.url }}/products/"><b>铁管家</b></a></li>
                        <li><a href="{{ site.url }}/products/"><b>铁金刚</b></a></li>
                        <li><a href="{{ site.url }}/products/"><b>钢将军</b></a></li>
                        <li><a href="{{ site.url }}/products/"><b>文件保密柜</b></a></li>                   
                    </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h4><b>联系方式</b></h4>
                    <ul class="grove-list">
                      <li><b>订购热线：15811885996</b></li>
                      <li>1号客服：<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=356500757&amp;site=qq&amp;menu=yes" target="_blank"><img title="请咨询我" alt="请咨询我" src="http://wpa.qq.com/pa?p=2:356500757:41" border="0"></a></li>
                      <li>2号客服：<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=929209398&amp;site=qq&amp;menu=yes" target="_blank"><img title="请咨询我" alt="请咨询我" src="http://wpa.qq.com/pa?p=2:929209398:41" border="0"></a></li>
                      <li>3号客服：<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=929209398&amp;site=qq&amp;menu=yes" target="_blank"><img title="请咨询我" alt="请咨询我" src="http://wpa.qq.com/pa?p=2:929209398:41" border="0"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <p>© 1999-2014 广东安能保险柜制造有限公司 <a href="{{ site.url }}/Sitemap.xml" target="_blank">Sitemap</a></p>
                <p>网站建设与维护：<a href="http://osw.cc" target="_blank">OSW</a></p>
            </div>
        </div>
    </footer>
</body>
</html>